<html>
<head>
    <title></title>
</head>
<body bgcolor="#ffffff" style="margin-top:0;">
    <table cellspacing="0" cellpadding="0" align="center" bgcolor="white" border="0">
        <tbody>
            <tr>
                <td width="302" height="180">
                        <blockquote>
                            <h1>
                                <br />
                                <font face='Verdana, Arial, Helvetica, sans-serif' color="#ff9a3a" size="5">
                                    Gest&atilde;o de F&eacute;rias
                                </font>
                            </h1>
                            <h5>
                                <font face='Verdana, Arial, Helvetica, sans-serif' size="+1">
                                    <strong>
                                        Tudo o que você precisa, totalmente integrado!
                                    </strong>
                                </font>
                            </h5>
                        </blockquote>
                </td>
                <td width="302" height="180">
                    <img height="180" alt='' src='http://www.datamace.com.br/administrator/images/img1.jpg'
                         width="302" />
                </td>
            </tr>
        </tbody>
    </table>
    <table cellspacing="1" cellpadding="0" align="center" bgcolor="#ff9a3a" border="0">
        <tbody>
            <tr>
                <td width="604"></td>
            </tr>
        </tbody>
    </table>
    <table cellspacing="2" cellpadding="2" align="center" border="0" bgcolor="#ffffff"
        style="font-family:verdana; font-size:11px;">
        <tbody>
            <tr>
                <td width="600">
                    <div style="padding:5 5 5 5;">
                    {texto_noticia}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table cellspacing="1" cellpadding="0" align="center" bgcolor="#ff9a3a" border="0">
        <tbody>
            <tr>
                <td bgcolor="#ff9a3a" width="604">
                </td>
            </tr>
        </tbody>
    </table>
    <table cellspacing="0" cellpadding="0" align="center" bgcolor="white" border="0">
        <tbody>
            <tr>
                <td width="604">
                    <blockquote>
                        <br />
                        <strong>
                            <font face='Verdana, Arial, Helvetica, sans-serif' color="#1d4995" size="1">
                                Realiza&ccedil;&atilde;o:
                            </font>
                        </strong>
                    </blockquote>
                </td>
            </tr>
        </tbody>
    </table>
    <table cellspacing="0" cellpadding="0" align="center" bgcolor="white" border="0">
        <tbody>
            <tr>
                <td height="50" width="374">
                    <img height="57" alt='' src='http://www.datamace.com.br/administrator/images/img2.jpg'
                        width="250" border="0" />
                </td>
                <td>
                    <img height="110" alt='' src='http://www.datamace.com.br/administrator/images/img3.jpg'
                        width="230" align="middle" border="0" />
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>