<html>
<head>
    <title></title>
</head>
<body link="#194e9c" bgcolor="#FFFFFF" style="margin-top: 0;">
    <center>
        <table cellspacing="0" cellpadding="0" width="550" bgcolor="white" border="0">
            <tbody>
                <tr>
                    <td colspan="5">
                        <a href="http://www.datamace.com.br">
                            <img height="180" alt="" src="http://www.datamace.com.br/administrator/images/im_desenvolv.jpg"
                                width="550" border="0" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td width="25">
                        &nbsp;
                    </td>
                    <td valign="top" colspan="2" style="font-family: verdana; font-size: 11px;">
                        {texto_noticia}
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td colspan="2" style="font-family: verdana; font-size: 11px;">
                        <font face="Arial" color="#4d4d4d" size="2">Realiza&ccedil;&atilde;o</font>
                    </td>
                </tr>
                <tr>
                    <td style="height:60px">
                        &nbsp;
                    </td>
                    <td valign="top">
                        <p>
                            <img height="40" alt="" src="http://www.datamace.com.br/administrator/images/lg_datamace.gif"
                                width="160" border="0" />
                        </p>
                    </td>
                    <td valign="top" width="160" style="font-family:Arial; font-size: 11px;color:#4d4d4d;">
                        São Paulo (11) 2714-6400<br />
                        <a href="http://www.datamace.com.br">www.datamace.com.br</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td valign="top" colspan="2" style="font-family: verdana; font-size: 11px;">
                        <font face="Arial" color="#4d4d4d" size="2">Apoiadores</font>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td valign="middle" colspan="2">
                        <img height="32" alt="" src="http://www.datamace.com.br/administrator/images/lg_labortime.gif"
                            width="71" align="middle" border="0" />
                        &nbsp;
                        <img height="23" alt="" src="http://www.datamace.com.br/administrator/images/dipraxis.gif"
                            width="54" align="middle" border="0" />
                        &nbsp;
                        <img height="27" alt="" src="http://www.datamace.com.br/administrator/images/intersys.gif"
                            width="80" align="middle" border="0" />
                        &nbsp;
                        <img height="43" alt="" src="http://www.datamace.com.br/administrator/images/lm.gif"
                            width="60" align="middle" border="0" />
                    </td>
                </tr>
                <tr>
                    <td width="25" colspan="3">
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</body>
</html>
