<html>
<head>
    <title></title>
</head>
<body bgcolor="#FFFFFF">
    <table border="0" cellspacing="0" cellpadding="0" width="550" align="center">
        <tbody>
            <tr>
                <td>
                    <img border="0" alt="Datamace" src="https://api.datamace.com.br/StaticFiles/images/topo_feriado.jpg" />
                </td>
            </tr>
            <tr>
                <td bgcolor="#e6e6e6">
                    <table border="0" cellspacing="0" cellpadding="0" width="500" align="center">
                        <tbody>
                            <tr>
                                <td style="font-family: Verdana;">
                                    {texto_noticia}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table border="0" cellspacing="0" cellpadding="0" width="550">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <img border="0" alt="" src="https://api.datamace.com.br/StaticFiles/images/barra_inferior.gif"
                                        width="550" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
