<html>
<head>
    <title></title>
</head>
<body link="#1c5d91" bgcolor="#FFFFFF" style="margin-top:0;">
    <div align="center">
        <table cellspacing="0" cellpadding="0" width="550" bgcolor="white" border="0">
            <tbody>
                <tr>
                    <td colspan="4">
                        <a href="https://www.datamace.com.br">
                            <img height="180" alt="" src="https://api.datamace.com.br/StaticFiles/images/im_onsite.jpg"
                                width="550" border="0" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td width="25" rowspan="3">
                        &nbsp;
                    </td>
                    <td colspan="2" style="font-family: verdana; font-size: 11px;">
                        {texto_noticia}
                    </td>
                    <td width="25" rowspan="3">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        &nbsp;<br />
                        <hr size="1">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <table cellspacing="0" cellpadding="5" width="280" bgcolor="#eb7500" border="0">
                            <tbody>
                                <tr>
                                    <td style="font-family: Arial; font-size: 11px;color:White;">
                                        <div align="center">
                                                <p><font size="2"><strong>Suporte OnLine</strong></font></p>
                                        </div>
                                        <p>
                                            <font size="1">Mais Ágil<br />
                                                Mais Econ&ocirc;mico<br />
                                                Se a sua empresa ainda n&atilde;o utiliza este recurso, solicite agora ao nosso depto.
                                                de suporte.</font>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td valign="top" width="160" style="font-family:Arial; font-size:11px; color=#4d4d4d">
                        <img height="40" alt="" src="https://localhost:5001/StaticFiles/images/lg_datamace.gif"
                            width="160" border="0" />
                        <p>
                            <font face="Arial" color="#4d4d4d" size="1">S&atilde;o Paulo (11) 2714-6400<br />
                                <a href="mailto:suporte@datamace.com.br">suporte@datamace.com.br</a><br />
                                <a href="https://www.datamace.com.br">www.datamace.com.br</a><br />
                                &nbsp;</font>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>
    </p>
</body>
</html>